*{
    margin: 0;
    padding: 0;
}

.body{
    font-family: 'Ubuntu';
    font-style: normal;
    color: #FFFFFF;
}

.container{
    margin: 0 auto;
    background-image: url(../img/Фон\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.header{
    height: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.link{
    text-decoration: none;
}

.journey{
    width: 157px;
    margin-left: 79px;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
}

.journey:hover{ 
    color: #3CB878;
}


.logo_details{
    margin-right: 79px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.text_details{
    display: flex;
    align-items: center;
    padding-left: 27px;
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}

.text_details::before{
    content: "";
    display: block;
    border-left: 1px solid white;
    width: 1px;
    height: 19px;
    background: rgba(255, 255, 255, 0.9);
    mix-blend-mode: normal;
    opacity: 0.5;
    position: relative;
    right: 27px;
}

.img_details{
    position: relative;
    width: 126px;
    padding-right: 25px;
    display: flex;
    justify-content: space-around;
}

.img_calendar{
    width: 21px;
    height: 24px;
    fill: #FFFFFF;
}

.img_calendar:hover{
    fill: #3CB878;
}

.img_mail{
    width: 23px;
    height: 23px;
    fill: #FFFFFF;
}

.img_mail:hover{
    fill: #3CB878;
}

.img_nav{
    width: 23px;
    height: 24px;
    fill: #FFFFFF;
}

.img_nav:hover{
    fill: #3CB878;
}

.text_details_login_in{
    color: #FFFFFF; 
    text-decoration: none; 
}

.text_details_login_in:hover{
    color: #3CB878;
}

.header:hover .login_in{
    color: #3CB878;
}

.text_details_sign_up{
    color: #FFFFFF;    
    text-decoration: none; 
}

.text_details_sign_up:hover{
    color: #3CB878;
}

.header:hover .sign_up{
    color: #3CB878;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 54px;
    padding-bottom: 100%;
}

.main_box{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 444px;  
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52); 
}

.check_in{
    width: 324px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 31px;
}

.title{
    width: 69px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
    padding-bottom: 2px;
}

.title::before{
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background: #3CB878;
    display: inline-block;
    left: 0;
}

.link_login{
    width: 39px;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    text-decoration: underline;
}

.link_login:hover{
    color: rgba(1, 129, 63, 1);
}

.main_box_button{
    margin-top: 13px;
    margin-bottom: 31px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.link_button{
    width: 160px;
    height: 48px;
    display: inline-block;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: space-around;
    border-radius: 3px;
    color: #FFFFFF;
    box-sizing: border-box;
}

.facebook{
    background: #305DB8;
    display: flex;
    margin-right: 4px;
}

.facebook:hover{
    background: #022263;
}

.link_img_f{
    width: 13px;
}

.f_text, .g_text{
    display: flex;
    align-items: center;
}

.f_text::before, .g_text::before{
    content: "";
    width: 1px;
    height: 28px;
    display: block;
    border-left: 1px solid #0A162F;
    mix-blend-mode: normal;
    opacity: 0.1;
    position: relative;
}

.f_text::before{
    border-left: 1px solid #0A162F;
    right: 18px;
}

.g_text::before{
    border-left: 1px solid #2B0D09;
    right: 30px;
}


.google{
    background: #DF4A32;
}

.google:hover{
    background: #AB1F09;
}

.link_img_g{
    width: 30px;
}

.or_box{
   width: 324px; 
   display: flex;
   justify-content: center;
}

.or{
    width: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
}

.or::before, .or::after{
    content: "";
    display: block;
    width: 152px;
    height: 1px;
    border-bottom: 1px solid #F2F2F2; 
    position: relative;
}

.or::before{
    right: 163px;
    top: 8px;
}

.or::after{
    left: 23px;
    bottom: 7px;
}

.main_form{
    width: 322px;
    display: flex;
    justify-content: center;
}

.cell{
    width: 322px;
    height: 45px;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    color: #BEBEBE;
    margin-top: 15px;
    padding-left: 20px; 
    box-sizing: border-box;
}


.cell:focus{
    border: none;
    outline: none;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    padding-left: 20px;
}

.cell:focus {
    color: #434343;
  }

.cell:hover{
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.checkbox_box{
    margin-top: 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
}

.checkbox_box_text{
    cursor: pointer;
}

.checkbox_link{   
    color: rgba(60, 184, 120, 1);
}

.checkbox_link:hover{   
    color: rgba(1, 129, 63, 1);
}

.checkbox{
    display: none;
}

.checkbox_box_text::before{
    position: relative;
    top: 5px;
    content: "";
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
    margin-right: 11px;
    display: inline-block;
}

.checkbox_box_text::after {
    content: "";
    width: 16px;
    height: 7px;
    border-left: 2px solid #3CB878;
    border-bottom: 2px solid #3CB878;
    transform: rotate(-48deg);
    display: inline-block;
    position: relative;
    top: -18px;
    right: -3px;
}

.checkbox_box_text::after {
    opacity: 0;
}
  
.checkbox_box_text:active::after {
    opacity: 1;
}

.button_box{
    margin-top: 20px;
    margin-bottom: 38px;
}


.button_create{
    width: 126px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    width: 324px;
    height: 46px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    color: rgba(255, 255, 255, 1);
}

.button_create:hover{
    background: #01813F;
}